@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); /* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.animate__backInRight {
  -webkit-animation-name: backInRight;
  animation-name: backInRight;
}

.modal-types {
  height: calc(100vh - 250px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  /* width: auto !important;
  padding: none !important;
  margin-top: 1000px !important;
  top: 100px !important; */
}
.container1 {
  margin-top: 5rem !important;
  /* position : absolute; */
  /* width: auto; */
  /* top: 0px !important; */
  /* margin: auto; */
  /* overflow: hidden; */
  /* /* padding: 250px !important; */
  /* margin-top: 100px !important; */
  /* margin-bottom: 3rem; */
}

.Root-container-2849 {
  height: 700px;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: white;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  color: #333 !important;
  font-size: 1rem !important;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}
.demnormouter {
  position: absolute;
  top: 150px;
  /* left: 30%; */
  width: auto;
  text-align: center;
}
.demnorm {
  display: inline;
  padding: 0.8rem;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  width: 900%;
  background: var(--light-color);
  color: #333;
  position: relative;
}
.alertouter {
  position: absolute;
  top: 150px;
  left: 50%;
  width: auto;
  text-align: center;
}
*/ .alert {
  display: inline;
  padding: 0.8rem;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  width: 200px;
  background: var(--light-color);
  color: #333;
  position: relative;
}
/* .alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
 }  */

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navdroite {
  position: absolute;
  top: 8px;
  right: 10px;
}
.navbar-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navi {
  height: 45px !important;
  top: 0 !important;
  z-index: 1 !important;
  width: 100% !important;
  background: black !important;
  opacity: 0.9 !important;
  position: fixed;
  /* display: block; */
}
.navbar1 {
  display: relative !important;
  justify-content: space-between !important;
  align-items: center !important;
  /* padding: 0.7rem 2rem !important; */
  /* position: fixed; */
  z-index: 2 !important;
  width: 100% !important;
  height: 45px !important;
  /* max-height: 45px !important; */
  top: 0 !important;
  /* border-bottom: solid 1px var(--primary-color); */
  /* opacity: 0.9 !important; */

  background: transparent !important;

  /* background: #c8b2a1 !important; */
  /* background: #855e42 !important; */
  color: white !important;
  /* margin-left: none !important; */
  text-align: center !important;
  /* background-image: url('./components/img/B.png') ; */
}

.navbar2 {
  display: flex !important;
  justify-content: space-between !important;
  /* align-items: center !important; */
  /* padding: 0.7rem 2rem !important; */
  position: absolute;
  z-index: 1 !important;
  width: 100% !important;
  /* top: 0px !important; */
  /* border-bottom: solid 1px var(--primary-color); */
  /* opacity: 0.9 !important; */
  /* background: #1e1f20 !important; */
  margin-top: 32px;

  height: 180px;
  color: white;
}
#imglogo {
  width: 90%;
  max-width: 600px;
  /* margin-top: 20px; */
}
.navbar-toggle {
  /* padding: 0;
  margin: 0; */
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./components/img/terasse4.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  width: 50px;
}
.navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* demandeDevis modal */
.demDevis .span {
  padding-bottom: 20px;
}
.demdevisbutton {
  color: white;
  /* color: #ba7333; */
  padding: 3px;
  /* border: groove;
  border-color: #ff4000; */
  /* background-color: #ff4000; */
  background-color: #d4c39f;
  border-radius: 10px;
  opacity: 0.9;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.demdevisbutton2 {
  color: white;
  /* color: #ba7333; */
  padding: 3px;
  /* border: groove;
  border-color: #ff4000; */
  /* background-color: #ff4000; */
  background-color: #66cc00;
  border-radius: 10px;
  opacity: 0.9;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.payno {
  color: white;
  /* color: #ba7333; */
  padding: 3px;
  /* border: groove;
  border-color: #ff4000; */
  /* background-color: #ff4000; */
  background-color: red;
  border-radius: 10px;
  opacity: 0.9;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.demdevisbutton2 :hover {
  transform: scale(2);
}
.modal-content {
  border: solid;
}

#modal-devis {
  min-width: 1000px;
  max-width: 100px;
  /* text-align: center; */
  /* flex: block; */
}
#modal-cal {
  min-width: 750px;
  max-width: 750px;
  /* text-align: center; */
  display: block !important;
}
#demandedevcenter {
  margin-left: 20px;
  /* margin-right: auto; */
}

#cardimg1 {
  width: 100%;
  height: 200px;
  /* margin-top: '4px';
  border: '1px solid #ff4000 '; */
}
#cardimg2 {
  width: 100%;
  height: 200px;
  /* margin-top: '4px';
  border: '1px solid #ff4000 '; */
}
#cardimg3 {
  max-width: 50%;
  /* height: 200px; */
  /* margin-top: '4px';
  border: '1px solid #ff4000 '; */
}
.centerit {
  text-align: 'center';
  width: '100%';
}

#details {
  /* transform: scale(1.07);
   border: groove; 
   border-color: #ecf9ec; */
  border-radius: 4px;
  border: 1px solid #c8b2a1;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  /* background-color: lightgray; */
  /* height: 200px; */
  /* z-index: 10;  */
}
#company {
  font-family: 'Ink Free';
  font-size: 70px;
  color: white;
}

#company:hover {
  color: #66cc00;
  /* text-decoration: underline dotted !important; */
}
#modalheader {
  background-color: #c8b2a1;
  /* border: solid;
  border-radius: 15px; */
}
#validbutton {
  background-color: #66cc00;
  /* border: solid;
  border-radius: 15px; */
}
.demdevisLabel {
  font-size: 20px;
  margin-top: 15px;
  color: #c8b2a1;
  /* padding-top: 10px; */
}
.inputuserdata {
  /* border: 1px solid #c8b2a1 !important; */
  border-radius: 4px;
  max-width: 200px;
}

.multi-preview img {
  max-width: 200px;
  padding: 5px;
}

.photocard {
  border: 1px solid #c8b2a1;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-left: 1px;
}
.border {
  border: 2px solid #c8b2a1;
  padding-left: 10px;
}
.photoholder {
  /* width: 100px; */
  height: 95px;
}
.formDevs {
  width: 600px;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 40px; */
  /* width: 90%; */
}
.formDevs2 {
  margin-left: 80px;
  /* width: 90%; */
}
#formDevis {
}
#formDevis input {
  /* background-color: lightgrey; */
  /* border-color: #c8b2a1 !important; */
  max-width: 310px;
}
#formDevis select {
  /* background-color: lightgrey; */
  /* border-color: #c8b2a1 !important; */
  max-width: 310px;
}
.date {
  /* background-color: lightgrey; */
  /* border-color: #c8b2a1 !important; */
  max-width: 200px;
}

.delpict {
  background-color: 'transparent';
  color: 'red';
  /* text-align: 'center';
  position: 'absolute';
  top: '10px';
  right: '10px';
  width: '40px'; */
}

#boiselect {
  font-size: 12px;
}
#commentaire {
  /* min-width: 200px; */
  width: 800px;
  border-color: #c8b2a1 !important;
  border-radius: 10px;
  padding: 6px;
}
#commentaire:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

#section1 {
  /* background-image: url('./components/img/terasse2.jpg'); */
  /* background-repeat: no-repeat center; */
  /* background-size: cover; */
  /* width: 100%;
  height: 100%; */
  /* background: url('./components/img/back.jpg') no-repeat center center/cover; */
  background-color: transparent;

  /* background: url('./components/img/terasse4.jpg') no-repeat center center/cover; */
  /* position: relative; */
  /* top: -100px !important; */
  /* animation: zoominoutsinglefeatured 20s; */
  /* animation: zoom-out 5s linear infinite; */
  /* height: 60% !important ; */
  /* background: url('./components/img/terasse4.jpg') no-repeat center center/cover; */
  /* height: 100vh; */
}
#arrowup {
  position: absolute;
  top: 30px;
  left: 50%;
  background-color: transparent;
  border: none !important;
  /* border: transparent; */
  color: #66cc00;
  opacity: 0.3 !important;
}
.arrowup1 {
  margin-top: 0px !important;
}
#arrowup:hover {
  transform: scale(1.1, 1.1);
  /* color: #ff4000; */
}
#arrowup:active {
  border: none !important ;
}
#arrowdown {
  position: absolute;
  bottom: 25px;
  left: 50%;
  background-color: transparent;
  border: none !important;
  /* border: transparent; */
  color: #66cc00;
  opacity: 0.3 !important;
}
#arrowdown:hover {
  transform: scale(1.1, 1.1);
  color: #ba7333;
}
#arrowdown:active {
  border: none !important ;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: translate(-150px, 7vh) scale(1.3, 1.3);

    /* margin-right: 200px; */
  }
  100% {
    transform: scale(1, 1);
  }
}

#menu {
  position: absolute;
  bottom: 25px;
  left: 50%;
}
#responsive-navbar-nav {
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
}

#tabledevis {
  max-width: 900px !important;
  min-width: auto !important;
}

#tabledemande {
  max-width: 900px !important;
  min-width: auto !important;
}
.testing {
  background: #66cc00 !important;
}
.testing th {
  background-color: #66cc00 !important;
  color: white;
}

/* .fc-bgevent {
  background-color: red !important;
} */

/* Mobile Styles */

.fc-toolbar {
  font-size: 0.7em;
}
.fc-event-main {
  font-size: 0.7em;
}
.fc-prev-button {
  /* width: 20px; */
}
.fc-next-button {
  /* width: 20px; */
}
.fc-today-button {
  /* width: 20px; */
  margin-left: 0px !important ;
}

.inputprix input {
  max-width: '30px';
}
.boldunder {
  text-decoration: underline;
  font-weight: bold;
}

.has-error {
  color: red;
}
.demnorm {
  width: 70%;
}
#real {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  /* height: 200px !important; */
}
#card:hover {
  /* transform: scale(1.02) !important; */
  border: 5px solid #c8b2a1;
}
#navtext {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}
#mobidev {
  display: none;
}
#nonmobidev {
  display: flow;
}
.text1 {
  pointer-events: none;
  top: 20rem;
  /* left: 500px; */
  z-index: 2 !important;
  color: white;
  /* position: fixed; */
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  font-size: 400%;
  font-weight: 500;
}
.text2 {
  top: 26rem;
  /* left: 500px; */
  /* z-index: 2 !important; */
  color: white;
  /* position: fixed; */
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  font-weight: 500;
  --animate-delay: 2s !important;
}
.text22 {
  top: 30rem;
  /* left: 500px; */
  /* z-index: 2 !important; */
  color: white;
  /* position: fixed; */
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  font-size: 50%;
  width: 50%;
  /* font-weight: 500; */
}
.text31 {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 70px;
  color: white;
  height: 100%;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 100%;
  /* position: relative; */
  width: 100%;

  /* background-color: #333; */
}
.text3 {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 70px;
  color: white;
  height: 100%;
  font-weight: 100;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 100%;
  /* position: relative; */
  width: 100%;

  /* background-color: #333; */
}
#section21 {
  /* top: 0px; */
  background-color: #1d1d1d;
  height: 35%;
  width: 100%;
  /* position: relative; */
}
#imgtest {
  height: 85%;
  max-width: 780px !important;
}
#reatitle {
  font-size: 25px;
  /* text-transform: uppercase; */
  letter-spacing: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  --animate-delay: 2s !important;
}
#reatitle2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#section22 {
  /* background-image: url('./components/img/terasse4.jpg');
  background-repeat: no-repeat center;
  background-size: cover; */
  /* border-top: solid;
  border-width: 6rem;
  border-color: #66cc00; */
  height: 65%;
  /* width: 110%; */
  background-color: white;
  /* margin-left: -14px; */
  padding-top: 2px;

  /* background-image: url('./components/img/show.jpg');
  background-repeat: no-repeat center;
  background-size: cover; */

  /* position: relative; */
  /* background: url('./components/img/tersun2.jpg') no-repeat center center/cover; */
  /* animation: zoominoutsinglefeatured 20s; */
  /* position: relative; */
}

#section23 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 60px !important;
  /* font-size: 3rem; */
  text-transform: uppercase;
  letter-spacing: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900 !important;
}
#section24 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 90% !important;
}

#carou {
  /* height: 200px !important;
  width: 700px !important; */
  /* top: auto !important; */
  /* position: fixed; */
  /* margin-left: -11px !important; */
  /* margin-top: -275px; */
}

.compare {
  margin-bottom: 30px;
  border-radius: 30px !important;
}

/* #testtt {
  width: 800px;
  height: 800px;
  display: block;
} */

.contain {
  background: url('./components/img/back.jpg');
  background-size: 110% auto;
  background-position-x: -75px;
}
@media (max-width: 1605px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 130% auto;
    background-position-x: -185px;
  }
}
@media (max-width: 1405px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 120% auto;
    background-position-x: -110px;
  }
}

@media (max-width: 1305px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 150% auto;
    background-position-x: -255px;
  }
  .demdevisbutton2 {
    color: white;
    /* color: #ba7333; */
    padding: 3px;
    /* border: groove;
    border-color: #ff4000; */
    /* background-color: #ff4000; */
    /* background-color: #66cc00; */
    /* border-radius: 10px; */
    opacity: 0.9;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1092px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 150% auto;
    background-position-x: -225px;
  }
}

@media (max-width: 904px) {
  #reatitle {
    font-size: 15px;
    /* text-transform: uppercase; */
    letter-spacing: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  #reatitle2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .text3 {
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
    position: absolute;
    margin-top: 58px;
    color: white;
    height: 100%;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 90%;
    /* position: relative; */
    width: 100%;

    /* background-color: #333; */
  }

  .contain {
    background: url('./components/img/back.jpg');
    background-size: 200% auto;
    background-position-x: -430px;
  }
  .navbar-nav {
    opacity: 0.9 !important;
    background: #1e1f20 !important;
    border-top: solid;
    border-width: 4px;
    border-color: #66cc00;
    color: white;
    display: block;
  }

  .navbar1 {
    /* background: #9d7153 !important; */
    height: 60px !important;
    opacity: 0.9 !important;
    background: #1e1f20 !important;
    /* border-top: solid;
    border-width: 4px;
    border-color: #66cc00; */
    color: white;
    display: block;
  }
  #mobidev {
    display: inline;
  }
  #nonmobidev {
    display: none;
  }

  #section1 {
    /* width: auto;
    height: auto; */
    /* background: url('./components/img/tersun.jpg') no-repeat center center/cover; */
    /* background: url('./components/img/terasse4.jpg') no-repeat center
      center/cover; */
    /* position: relative; */
    /* animation: zoominoutsinglefeatured2 20s; */
  }

  @keyframes zoominoutsinglefeatured2 {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);

      /* margin-right: 200px; */
    }
    100% {
      transform: scale(1, 1);
    }
  }
  #real {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar2 {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    /* padding: 0.7rem 2rem !important; */
    /* position: fixed; */
    z-index: 2 !important;
    width: 100% !important;
    top: 0px !important;
    /* border-bottom: solid 1px var(--primary-color); */
    /* opacity: 0.9 !important; */
    background: #1e1f20 !important;
    /* margin-top: 40px; */
    height: 80px;
    color: white;
  }
  #imglogo {
    /* height: 75px;
    width: 75px;
    margin-top: 5px !important; */
  }

  .devisinputlist {
    /* width: 400px; */
  }
  .createdevisinput {
    max-width: 112px;
  }
  .createdevisinputdes {
    max-width: 130px;
  }

  .btn {
    color: #333 !important;
    font-size: 0.5rem !important;

    padding: 0.3rem !important;
  }

  #commentaire {
    /* min-width: 200px; */
    width: 95%;
    border-color: #ff4000 !important;
    border-radius: 10px;
    padding: 6px;
  }

  #tabledevis {
    /* min-width: 450px !important; */
    /* min-width: 300px !important; */
    min-width: 95% !important;

    font-size: 4px !important;
    margin-left: -20px !important;
  }
  #tabledevis th {
    max-width: 30px;
  }

  #tabledemande {
    min-width: 100% !important;
    font-size: 8px !important;
    margin-left: -20px !important;
  }

  #tablechantier {
    /* min-width: 450px !important; */
    /* min-width: 300px !important; */
    width: 200px !important;

    font-size: 7px !important;
    margin-left: -20px !important;
  }

  /* #details {
    max-width: 30%;
  } */

  #groupeterrasse {
    /* text-align: center; */
  }
  #cardimg1 {
    max-width: 310px;
    /* height: 240px; */
    /* margin-top: '4px';
    border: '1px solid #ff4000 '; */
  }
  #cardimg2 {
    max-width: 310px;
    /* height: 240px; */
    /* margin-top: '4px';
    border: '1px solid #ff4000 '; */
  }
  #cardimg3 {
    width: 310px;
    /* height: 240px; */
    /* margin-top: '4px';
    border: '1px solid #ff4000 '; */
  }

  #linkresize {
    /* font-size: 12px; */
    width: 65px;
  }

  #card {
    width: 90%;
  }

  .navdroite {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .navbar-text {
    /* display: block; */
    margin-left: 20px;
    /* margin-right: auto; */
  }
  #company {
    font-family: 'Ink Free';
    font-size: 45px;
    color: white;
  }
  #modal-devis {
    min-width: 95%;
    max-width: 95%;
  }
  #modal-cal {
    min-width: 95%;
    max-width: 95%;
  }
  #togglepos {
    /* width: 2px;
    height: 2px; */
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #togglepos:active {
    /* width: 2px;
    height: 2px; */
    position: absolute;
    top: 10px;
    right: 10px;
    /* background-color: #66cc00;
    border-color: #66cc00; */
  }
  #responsive-navbar-nav {
    max-width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand {
    max-width: 50px;
    font-size: 15wpx !important;
  }

  .collapselink {
    margin-left: 15px;
    width: 100%;
  }

  .container {
    margin-top: 8rem !important;
  }

  .hide-sm {
    display: none;
  }

  .multi-preview img {
    max-width: 60;
    padding: 5px;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 200% auto;
    background-position-x: -300px;
  }
}
@media (max-width: 766px) {
  #section23 {
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* font-size: 3rem; */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900 !important;
    font-size: -5px !important;
  }
  #section24 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 90% !important;
  }
  .arrowup1 {
    margin-top: 25px !important;
  }
}
@media (max-width: 685px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 200% auto;
    background-position-x: -300px;
  }
}
@media (max-width: 652px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 265% auto;
    background-position-x: -500px;
    background-position-y: 0px;
  }
}
@media (max-width: 552px) {
  .contain {
    background: url('./components/img/back.jpg');
    background-size: 360% auto;
    background-position-x: -445px;
    background-position-y: 0px;
  }
}
